---
title: Le Wagon UI components
---


<h1 class="text-center" style="font-size: 26px;margin-top: 50px;margin-bottom: 30px; font-weight: bolder;">
  Le Wagon's components
</h1>
<div class="container readme">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <section class="readme-section">
        <h2 class="readme-header">Getting started</h2>
        <p>
          Add a new CSS file (e.g. <code>avatar.css</code>) in your <code>components</code>, copy/paste our CSS, then use the HTML code of the components wherever you want. Here are available components:
        </p>

        <ul>
          <li>
            <a href="#avatars">Avatars</a>
          </li>
          <li>
            <a href="#buttons">Buttons</a>
          </li>
          <li>
            <a href="#banners">Banners</a>
          </li>
          <li>
            <a href="#cards">Cards</a>
          </li>
          <li>
            <a href="#messages">Messages</a>
          </li>
          <li>
            <a href="#navbar">Navbar</a>
          </li>
          <li>
            <a href="#footer">Footer</a>
          </li>
          <li>
            <a href="#tabs">Tabs</a>
          </li>
          <li>
            <a href="#upvotes">List with upvote</a>
          </li>
        </ul>
      </section>

      <section class="readme-section" id="avatars">
        <h2 class="readme-header">
          <span>Avatars</span>
          <% link_to github_sass_url("avatar") do %>
            <i class="fas fa-code"></i> view CSS code
          <% end %>
        </h2>
        <%= partial "components/avatar" %>
      </section>

      <section class="readme-section" id="buttons">
        <h2 class="readme-header">
          <span>Buttons</span>
          <% link_to github_sass_url("button") do %>
            <i class="fas fa-code"></i> View css code
          <% end %>
        </h2>
        <%= partial "components/button" %>
      </section>

      <section class="readme-section" id="banners">
        <h2 class="readme-header">
          <span>Banners</span>
          <% link_to github_sass_url("banner") do %>
            <i class="fas fa-code"></i> View css code
          <% end %>
        </h2>
        <%= partial "components/banner" %>
      </section>

      <section class="readme-section" id="cards">
        <h2 class="readme-header">
          <span>Cards</span>
          <% link_to github_sass_url("card") do %>
            <i class="fas fa-code"></i> View css code
          <% end %>
        </h2>
        <%= partial "components/card" %>

      </section>

      <section class="readme-section" id="messages">
        <h2 class="readme-header">
          Messages
          <% link_to github_sass_url("message") do %>
            <i class="fas fa-code"></i> View css code
          <% end %>
        </h2>
        <%= partial "components/message" %>
      </section>

      <section class="readme-section" id="navbar">
        <h2 class="readme-header">
          <span>Navbar</span>
          <% link_to github_sass_url("navbar") do %>
            <i class="fas fa-code"></i> View css code
          <% end %>
        </h2>
        <%= partial "components/navbar" %>
      </section>

      <section class="readme-section" id="footer">
        <h2 class="readme-header">
          <span>Footer</span>
          <% link_to github_sass_url("footer") do %>
            <i class="fas fa-code"></i> View css code
          <% end %>
        </h2>
        <%= partial "components/footer" %>
      </section>

      <section class="readme-section" id="tabs">
        <h2 class="readme-header">
          <span>Tabs</span>
          <% link_to github_sass_url("tabs") do %>
            <i class="fas fa-code"></i> View css code
          <% end %>
        </h2>
        <%= partial "components/tabs" %>
      </section>


      <section class="readme-section" id="upvotes">
        <h2 class="readme-header">
          <span>Item to upvote</span>
          <% link_to github_sass_url("product_item") do %>
            <i class="fas fa-code"></i> View css code
          <% end %>
        </h2>
        <%= partial "components/product_item" %>
      </section>

    </div>
  </div>
</div>
