---
title: Le Wagon UI components
---


<div class="container-fluid readme">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <section>
        <h2 class="readme-header">Avatar</h2>
        <%= partial "partials/components/avatar" %>

        <div class="download">
          <%= link_to "Download .SCSS file", github_sass_url("avatars"), class: "btn btn-primary"%>
        </div>
      </section>

      <section>
        <h2 class="readme-header">Badge</h2>
        <%= partial "partials/components/user_badge" %>
        <%= partial "partials/components/icon_badge" %>

        <div class="download">
          <%= link_to "Download .SCSS file", github_sass_url("badges"), class: "btn btn-primary"%>
        </div>
      </section>

      <section>
        <h2 class="readme-header">Banner</h2>
        <%= partial "partials/components/banner" %>

        <div class="download">
          <%= link_to "Download .SCSS file", github_sass_url("banner"), class: "btn btn-primary"%>
        </div>
      </section>

      <section>
        <h2 class="readme-header">card</h2>
        <%= partial "partials/components/card" %>

        <div class="download">
          <%= link_to "Download .SCSS file", github_sass_url("card"), class: "btn btn-primary"%>
        </div>
      </section>

      <section>
        <h2 class="readme-header">List item</h2>
        <%= partial "partials/components/post_item" %>

        <div class="download">
          <%= link_to "Download .SCSS file", github_sass_url("post_item"), class: "btn btn-primary"%>
        </div>
      </section>


      <section>
        <h2 class="readme-header">Navbar</h2>
        <%= partial "partials/components/navbar" %>

        <div class="download">
          <%= link_to "Download .SCSS file", github_sass_url("navbar"), class: "btn btn-primary"%>
        </div>
      </section>




    </div>
  </div>
</div>
